.section3{
  background-color: #cc2525;
  /* position: relative; */
  margin-bottom: 800px;
}
.section3_layout{
  position: relative;
  text-align: center;
}
#section3_heading{
  color: red;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
  font-family: "Sweet Sans Medium", Helvetica, Arial, sans-serif;
  color: #b19254;
  font-size: 14px;
  font-weight: 400;
}
#sec3_main{
  /* border: 1px solid blanchedalmond; */
  width: 70%;
  height: 835px;
  background-color: #fef6f0;
  position: absolute;
  /* animation: anim1 2s ease; */
}
#slider2{
  width: 400%;
  display: inline-flex;
}
#section3_layout_image{
  background-color: rgba(167, 24, 24, 0.4);
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
  width: 80%;
  height: 835.3px;
  z-index: 1;
}
.images{
  width: 100%;
  height: 100%;
  filter: brightness(90%);
}
.section3_box{
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translate(0,-50%);
  width: 330px;
  height: 350px;
  box-shadow: 0px 0px 3px 3px rgb(232, 228, 228);
  background-color: white !important;
  z-index: 4;
  text-align: center;
  padding: 20px 50px;
  justify-content: center;
}
#box_content1{
  font-family: TiemposFineWeb-Light, Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #b19254;
}
#box_content2{
  margin-top: 25px;
  color: #757575;
  font-size: 17px;
  font-weight: 300;
  font-family: "Sweet Sans Light", Helvetica, Arial, sans-serif;
  /* line-height: 22.6px; */
  margin-bottom: 24px;
}
#box_content3{
  margin: auto;
  font-family: "Sweet Sans Medium", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 50px;
  color: #b19254;
  border: 1px solid #b19254;
}
.arrow{
  margin-top: 25px;
  color: #b19254;
  font-size: 20px;
  padding: 8px;
}
.arrow:hover{
  transition: all 0.2s;
  border: 2px solid #b19254;
  border-radius: 50%;
  
}